# Prevent pnpm from adding the "workspace:"" prefix to local
# packages as it casues issues with manypkg
save-workspace-protocol=false
# @link https://pnpm.io/npmrc#prefer-workspace-packages
prefer-workspace-packages=true

shamefully-hoist=true
