@import "tailwindcss";

html {
  @apply antialiased touch-manipulation scroll-smooth text-base;
  text-rendering: optimizeLegibility;
}

* {
  @apply outline-white selection:bg-neutral-700 selection:text-white;
}

body {
  @apply relative flex min-h-screen max-w-3xl flex-col bg-neutral-100 p-4 text-sm text-neutral-900 md:mx-auto md:text-base dark:bg-neutral-900 dark:text-neutral-300;
}

pre.shiki {
  @apply overflow-auto rounded border border-neutral-200 px-4 py-2 dark:border-neutral-700;
}

pre > code {
  @apply block whitespace-pre rounded text-sm;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  word-break: normal;
  word-spacing: normal;
  tab-size: 4;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
